@import "tailwindcss";

@theme {
  --font-mono: "PixeloidMono";
}

@layer base {
  @font-face {
    font-family: "PixeloidMono";
    src: url("/ui/fonts/PixeloidMono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    @apply font-mono;
    cursor: url("/ui/cursor/cursor-default.png"), auto;
  }
}

@layer utilities {
  .cursor-default {
    cursor: url("/ui/cursor/cursor-default.png"), auto;
  }

  .cursor-drag {
    cursor: url("/ui/cursor/cursor-drag.png"), auto;
  }
}
